PORT=3000
DATABASE_PATH=./data/gems.sqlite
TERRITORY_GEOJSON_PATH=C:\OPEN-NODE-APPS\sig-padci-monitor\data\sspref-light-r3-filtered.geojson
ROLE_DEFINITIONS_PATH=C:\OPEN-NODE-APPS\sig-padci-monitor\data\role_definitions.csv
AGENT_COLLECTE_PATH=C:\OPEN-NODE-APPS\sig-padci-monitor\data\agent_collecte.csv
KOBO_BASE_URL=https://kf.kobotoolbox.org
KOBO_API_TOKEN=
KOBO_ASSET_UID=
KOBO_MISSION_ID=
KOBO_GPS_FIELD=
KOBO_AGENT_CODE_FIELD=
KOBO_FORM_TYPE=site
