# =========================
# Dépendances Node.js
# =========================
node_modules/

# =========================
# Variables sensibles
# =========================
.env


# =========================
# Bases SQLite runtime
# =========================
#data/*.sqlite
data/*.sqlite-*

# =========================
# Logs
# =========================
*.log
npm-debug.log*
