# =========================
# Dépendances Node.js
# =========================
node_modules/

# =========================
# Variables sensibles
# =========================
.env
# =========================
# Documentations techniques
# =========================
Kbase-docs/*
KBase-docs/
data/kobo-assets/
# =========================
# Bases SQLite runtime
# =========================
#data/*.sqlite
#data/*.sqlite-shm
#data/*.sqlite-wal

# =========================
# Logs
# =========================
*.log
npm-debug.log*

# =========================
# Fichiers temporaires Office
# =========================
~$*.docx
